/*Bootstrap standard style*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-inline > li:first-child {
  padding-left: 0;
}

pre code {
   display: block; padding: 0.5em;
}

code.r, code.cpp {
   background-color: #F8F8F8;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  color: inherit;
  font-size:14px;
  letter-spacing:0px;
  padding:0px 0 0 0;
  orphans: 3; widows: 3;
}

a, a:visited { 
      text-decoration: underline; 
}
hr { 
  visibility: hidden;
  page-break-before: always;
}
pre, blockquote { 
  padding-right: 1em; 
  page-break-inside: avoid; 
}

.demographics table{
  border-collapse: separate;
  border-spacing: 1em 0.5em;
  background-color: #FFFFFF;
  color: #4F4F4F;
  font-size:18px;
  line-height:0px;
  letter-spacing:0px;
  width:350px;
  padding:4px 4 4 4;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}

.demographics td {
  font-family: "FullerSansDT",Calibri, Helvetica, sans-serif;
  text-align: left;
  color:#4F4F4F;
  font-size:16px;
  border:none;
  margin: 8px;
  letter-spacing:0px;
  line-height: 20px;
  padding:0px 0 0 0;
}
.demographics tr { 
      page-break-inside: avoid; 
      line-height: 2px;
      background-color: #FFFFFF;
      border:none;
}
/*
#demographics.graph{
  border-collapse: separate;
  border-spacing: 1em 0.5em;
  background-color: #FFFFFF;
  color: #4F4F4F;
  font-size:18px;
  line-height:0px;
  letter-spacing:0px;
  width:800px;
  padding:4px 4 4 4;
  border: none;
}
*/
img { 
      max-width: 100% !important;
      page-break-before: avoid; 
}
/*
@page :left { 
  margin: 15mm 20mm 15mm 10mm; 
}
     
@page :right { 
  margin: 15mm 10mm 15mm 20mm; 
}

body
{
background-color:#a1a1a1;
*/
}
.header {
  font-family: "FullerSansDT-Bold",Calibri, Helvetica, sans-serif;
  padding: 0px 0 0 0;
  height: 40px;
  overflow:hidden;
}

.header-break {
  font-family: "FullerSansDT-Bold",Calibri, Helvetica, sans-serif;
  padding: 0px 0 0 0;
  page-break-before: always;
}
.piecharts {
  font-family: "FullerSansDT",Calibri, Helvetica, sans-serif;
  color:#4F4F4F;
  font-size:32px;
  line-height:36px;
  letter-spacing:0px;
  width: 100%;
  padding:0px 0 0 0;
}
.pieleft { 
  width: 25%;
  position: absolute;
  left: 10px;
  width: 200px;
  text-align:center; 
  display:inline; 
}
.piemidleft{
  width: 25%;
  position: absolute;
  left: 220px;
  width:200px;
  text-align:center; 
  display:inline; 
}
.piemidright{
  width: 25%; 
  position: absolute;
  left: 430px;
  width:200px;
  position:absolute;
  text-align:center; 
  display:inline;
}
.pieright { 
  width: 25%; 
  position: absolute;
  left: 640px;
  width:200px;
  text-align:center; 
  display:inline;
  padding-right:10px;
}

.timestamp {
  width: 30%;
  position: absolute;
  float:right;
  text-align:center;
  display:inline;
}
}
.two-col-container{
  width: 900px;
  padding:0px 0 0 0;
}
.two-col-left { 
  width: 40%; 
  float:left; 
  text-align:center; 
  display:inline; 
  padding-left:80px;
}

.two-col-right { 
  width: 40%; 
  float:right; 
  text-align:center; 
  display:inline;
  padding-right:55px;

}
.three-col-container{
  width: 700px;
  padding-left: 100px;
  padding-right: 100px;
}
.three-col-left { 
  width: 33%; 
  float:left; 
  text-align:center; 
  display:inline; 
}
.three-col-center { 
  width: 33%; 
  float:left; 
  text-align:center; 
  display:inline; 
}
.three-col-right { 
  width: 33%; 
  float:left; 
  text-align:center; 
  display:inline;
}
.clear { 
  clear:both; 
}
.horizontal img{
display: block;float: left;margin-right: 5px;
}
/*
.child_div_left{
  float.left;
  margin-right:5px;
}
*/
#border
{
margin-left: auto;
margin-right: auto;
width: 900px;
background: #FFFFFF;
}
