<!DOCTYPE html>

<html>
<head>
<title>Verification Template</title>
</head>
<!--begin.rcode setup, include=FALSE
library(knitr)
# to base64 encode images
opts_knit$set(upload.fun = image_uri)
knit_patterns$set(header.begin = NULL)
end.rcode-->
<link rel="stylesheet" type="text/css" href="C:\Users\mhilton\Documents\GitHub\Report_Generator\custom.css">

<body>

<div id = "border", align = "center">
<div align= "right">
<p>
<!--begin.rcode time.stamp, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat(paste("Last Updated:",format(Sys.time(), "%B %d %Y")))
end.rcode-->
</p>
</div>
<div class="header", align= "center">
<h1>
<!--begin.rcode site.name, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat(d)
end.rcode-->
</h1>

</div>
<div align= "center">
<p>
<!--begin.rcode school.contact, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat("<em>","<strong>",school.address,"</strong>","</em>","<br />")
cat("<strong>",school.url,"</strong>")
end.rcode-->
</p>
</div>
<div align= "center">
<p>This is the prototype Report Card Verification Template. All Graphs and data are pulled, formatted and visualized in R, and then exported into an HTML/CSS template.<br />
<br />
<strong>-MH</strong></p>
<p>To Do List: <br />
<ul>
<li>Pull in School Leader Info</li>
<li>Pull in Attainment Data.</li>
<li>Look into print-friendly formatting options.</li>
</ul>
</p>
</div>
<div class="header", align= "center">
<h1>School Demographics</h1>
</div>
<table style="width:800px; border:none;">
<tr style="height:200px;">
<td style="height:200px; width:200px;">
<!--begin.rcode race.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(race.plot)
end.rcode-->
</td>
<td style="height:200px; width:200px;">
<!--begin.rcode attrition.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(attrition.plot)
end.rcode-->
</td>
<td style="height:200px; width:200px;">
<!--begin.rcode frl.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(frl.plot)
end.rcode-->
</td>
<td style="height:200px; width:200px;">
<!--begin.rcode sped.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(sped.plot)
end.rcode-->
</td>
</tr>
</table>

<div align="center">
<!--begin.rcode demographics.table, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE
data(demographics.graph)
demographics.table <- xtable(demographics.table)
end.rcode-->

<!--begin.rcode out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
print(demographics.table, include.rownames=TRUE, include.colnames=FALSE, type="html")
end.rcode-->
</div>
<div class="embolden", align= "center">
<div class="left", align= "center">
<!--begin.rcode attrition.print, out.width = 4, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat("<h2>Attrition Rate</h2>")
cat("<p>",attrition.print,"</p>")
end.rcode-->

</div>
<div class="right", align="center">
<!--begin.rcode ppf.rate, out.width = 4, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat("<h2>Per Pupil Funding</h2>")
if(!exists("ppf")) {cat()} else {cat("<p>",ppf,"</p>")}
end.rcode-->
</div>
</div>
<div class="clear"></div>
<div class="header-break", align= "center">
<h1>CRT Results</h1>
</div>
<div align= "center">
<p>
<!--begin.rcode statescore.label, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(nrow(statescore.graph) == 0){cat("<p>No grades were tested for the 2012-13 Academic Year</p>")}
end.rcode-->
<!--begin.rcode statescore.graph.1, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=400, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.1")) {cat()} else if(nrow(statescore.graph.1) > 0) {cat("<h2>Reading</h2>")
																				 plot(statescore.plot.1)
																				} else {cat()}
end.rcode-->
<!--begin.rcode statescore.graph.2, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=400, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.2")) {cat()} else if(nrow(statescore.graph.2) > 0) {cat("<h2>Mathematics</h2>")
																				 plot(statescore.plot.2)
																				} else {cat()}
end.rcode-->
</p>
</div>
<p>
<div class="header-break", align="center">
<!--begin.rcode statescore.graph.3, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=400, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.3")) {cat()} else if(nrow(statescore.graph.3) > 0) {cat("<h2>Science</h2>")
																				 plot(statescore.plot.3)
																				} else {cat()}
end.rcode-->
<!--begin.rcode statescore.graph.4, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=400, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.4")) {cat()} else if(nrow(statescore.graph.4) > 0) {cat("<h2>Writing</h2>")
																				 plot(statescore.plot.4)
																				} else {cat()}
end.rcode-->
<!--begin.rcode statescore.graph.5, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=400, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.5")) {cat()} else if(nrow(statescore.graph.5) > 0) {cat("<h2>Social Studies</h2>")
																				 plot(statescore.plot.5)
																				} else {cat()}
end.rcode-->
</p>
</div>
<div class="header", align= "center">
<h1>MAP Results</h1>
</div>
<div class="embolden", align= "center">
<div class="left", align= "center">
<!--begin.rcode growth.mathematics, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("growth.Mathematics")) {cat()}  else {cat("<h3>Percent Meeting Growth in Mathematics</h3>")
cat("<p>",growth.Mathematics,"</p>")}
end.rcode-->
</div>
<div class="right", align="center">
<!--begin.rcode growth.reading, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("growth.Reading")) {cat()}  else {cat("<h3>Percent Meeting Growth in Reading</h3>")
cat("<p>",growth.Reading,"</p>")}
end.rcode-->
</div>
</div>
<div class="clear"></div>
<div class="header", align= "center">
<!--begin.rcode quartile.graph, fig.width=13, fig.height=12, fig.align='center', out.width=800, out.height=640, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(nrow(quartile.graph) > 0) {cat("<h2>Quartile Distribution</h2>")
							  plot(quartile.plot)
							  } else {cat("<h2>Quartile Distribution</h2>")
							  		  cat("No grades were tested for the 2012-13 Academic Year")
							  		  }
end.rcode-->
</div>
</div>
</body>
</html>