<html>
<style>
h1{
  font-family: "FullerSansDT-Bold",Calibri, Helvetica, sans-serif;
	color:#FEBC11;
	font-size:32px;
	line-height:34px;
	letter-spacing:1px;
	padding: 0px 0 0 0;
}
h2 {
  font-family: "FullerSansDT-Bold",Calibri, Helvetica, sans-serif;
	color:#FEBC11;
	font-size:26px;
	line-height:30px;
	letter-spacing:1px;
	padding: 16px 0 0 0;
}
p {
  font-family: "FullerSansDT",Calibri, Helvetica, sans-serif;
  color:#7F7F7F;
  font-size:14px;
  line-height:18px;
  letter-spacing:1px;
  padding:0px 0 0 0;
}
ul {
  font-family: "FullerSansDT",Calibri, Helvetica, sans-serif;
  color:#7F7F7F;
  font-size:14px;
  line-height:18px;
  letter-spacing:1px;
  width:400px;
  padding:0px 0 0 0;
}
table {
  border-collapse: separate;
  border-spacing: 1em 0.5em;
  background-color: #DDDDDD;
  color: #7F7F7F;
  font-size:14px;
  line-height:18px;
  letter-spacing:1px;
  width:350px;
  padding:0px 0 0 0
}
td {
  text-align: left;
  min-width:50px;
}
#border
{
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#FFFFFF;
margin-left:auto;
margin-right:auto;
width:800px;
border-radius:25px;
}
</style>
<div id = "border", align = "center">
<div align= "center">
<h1>
<!--begin.rcode out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat(d)
end.rcode-->
</h1>
</div>
<div align= "center">
<p>This is the prototype Report Card Verification Template. All Graphs are generated procedurally by an R loop and exported into the HTML template.<br />
<br />
<strong>-MH</strong></p>
<p>To Do List: <br />
<ul>
<li>Pull in School Leader, Real Estate, FTE, PPF, and Attrition data</li>
<li>Pull in High School data where relevant</li>
<li>Find a way to handle f***ing footnotes</li>
<li>Pull in MAP growth</li>
</ul>
</p>
</div>
<div align= "center">
<h2>School Demographics</h2>
</div>
<div align= "center">
<!--begin.rcode out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE
data(demographics.graph)
demographics.table <- xtable(demographics.graph)
end.rcode-->

<!--begin.rcode out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
print(demographics.table, include.rownames=TRUE, include.colnames=FALSE, type="html")
end.rcode-->
</div>
<div align= "center">
<h2>CRT Results</h2>
</div>
<div align= "center">
<p>
<!--begin.rcode fig.width=13, fig.height=12, fig.align='center', out.width=800, out.height=640, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(nrow(statescore.graph) > 0) plot(statescore.plot) else cat("No grades were tested for the 2012-13 Academic Year")
end.rcode-->
</p>
</div>
<div align= "center">
<h2>MAP Results</h2>
</div>
<div align= "center">
<p>
<!--begin.rcode fig.width=13, fig.height=12, fig.align='center', out.width=800, out.height=640, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(nrow(quartile.graph) > 0) plot(quartile.plot) else cat("No grades were tested for the 2012-13 Academic Year")
end.rcode-->
</p>
</div>
</div>
</body>
</html>
