<!DOCTYPE html>

<html>
<head>
<title>Region Verification Template</title>
<link rel="stylesheet" type="text/css" href="C:\Users\mhilton\Documents\GitHub\Report_Generator\CSS\custom.css" media="all">
</head>
<!--begin.rcode setup, include=FALSE
library(knitr)
# to base64 encode images
opts_knit$set(upload.fun = image_uri)
knit_patterns$set(header.begin = NULL)
end.rcode-->

<body>

<div id = "border", align = "center">
<div align="right">
<p>
<!--begin.rcode time.stamp, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat(paste("Last Updated:",format(Sys.time(), "%B %d %Y")))
end.rcode-->
</p>
</div>
<div class="header", align= "center">
<h1>
<!--begin.rcode site.name, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat(d)
end.rcode-->
</h1>
</div>
<div align= "center">
<p>
<!--begin.rcode site.contact, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat("<em>","<strong>",site.address,"</strong>","</em>","<br />")
cat("<strong>",site.url,"</strong>","<br />")
cat("<strong>",phone,"</strong>")
end.rcode-->
</p>
</div>
<div align= "center">
<p>This is a summary of all <strong>Region Level</strong> data the Foundation plans on including in the 2013 KIPP Annual Report Card. Please verify that all data is accurate as of <strong>November, 2013</strong>, and obtain <strong>ED sign-off</strong> for it's inclusion in the report card. If you have any questions, please contact Mike Hilton at <a href="mailto:mhilton@kipp.org">mhilton@kipp.org</a>.<br />

<br />
<br />
</p>
</div>
<div class="leader", align = "center">
<h1>Region Leader</h1>
<h3>
<!--begin.rcode leader.name, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat("<b>", site.leader, "</b>")
end.rcode-->
</h3>
</div>

<div class="header", align= "center">
<h1>Region Demographics</h1>
</div>
<table style="width:600px; border:none;">
<tr style="height:200px;">
<!--
<td style="height:200px; width:200px;">
 race.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(race.plot)
end.rcode
</td>
-->
<td style="height:200px; width:200px;">
<!--begin.rcode frl.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(frl.plot)
end.rcode-->
</td>
<td style="height:200px; width:200px;">
<!--begin.rcode attrition.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(attrition.plot)
end.rcode-->
</td>
<td style="height:200px; width:200px;">
<!--begin.rcode sped.graph, fig.width=8, fig.height=8, fig.align='center', out.width=200, out.height=200, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
plot(sped.plot)
end.rcode-->
</td>
</tr>
</table>

<div class="demographics", align="center">
<!--begin.rcode demographics.table, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE
data(demographics.graph)
demographics.table <- xtable(demographics.table)
end.rcode-->

<!--begin.rcode out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
print(demographics.table, include.rownames=TRUE, include.colnames=FALSE, type="html")
end.rcode-->
</div>
<div align= "center">
<!--begin.rcode fte.print, out.width = 5, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
cat("<h2>Number of Teachers (FTE)</h2>")
cat("<h3>",fte,"</h3>")
cat("<h2>Teacher Retention</h2>")
cat("<h3>","Retained in Position: ",retention.site, "<br />", "Retained in KIPP: ",retention.kipp,"</h3>")
end.rcode-->
</div>
<div class="clear"></div>
<div class="header-break", align= "center">
<div align= "center">
<h1>Attainment</h1>
</div>
<div class="two-col-container", align="center">
<div class="two-col-left", align="center">
<!--begin.rcode graduation, out.width = 5, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("grad_print")) {cat()} else{cat("<h2>HS Graduation</h2>", "<h3><strong>", grad_print, "</strong></h3>", "<p>(",grad_count, " students)</p>", sep="")}
end.rcode-->
</div>
<div class="two-col-right", align= "center">
<!--begin.rcode matriculation, out.width = 5, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("matric_print")) {cat()} else{cat("<h2>College Matriculation</h2>", "<h3><strong>", matric_print, "</strong></h3>", "<p>(",matric_count, " students)</p>", sep="")}
end.rcode-->
</div>
</div>
<div class="spacer" style="clear: both;"></div>
<div class="header", align= "center">
<h1>HS Assessment</h1>
</div>
<div class="three-col-container">
<div class="three-col-left">
<!--begin.rcode act, out.width = 5, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(length(act_score)==0) {cat("<h2>Avg. ACT</h2><h3>","N/A","</h3>")} else{cat("<h2>Avg. ACT</h2>", "<h3><strong>", act_score, "</strong>", " <p>(",act_count, " graduating seniors)</p>", sep="")}
end.rcode-->
</div>
<div class="three-col-center">
<!--begin.rcode sat, out.width = 5, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(length(sat_score)==0) {cat("<h2>Avg. SAT</h2><h3>","N/A","</h3>")} else{cat("<h2>Avg. SAT</h2>", "<h3><strong>", sat_score, "</strong>", " <p>(",sat_count, " graduating seniors)</p>", sep="")}
end.rcode-->
</div>
<div class= "three-col-right">
<!--begin.rcode ap, out.width = 5, out.height = 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(length(ap_score)==0) {cat("<h2>AP (% 3+)</h2><h3>","N/A","</h3>")} else{cat("<h2>AP (% 3+)</h2>", "<h3><strong>", ap_score, "</strong>", " <p>(",ap_count, " graduating seniors)</p>", sep="")}
end.rcode-->
</div>
</div>
<div class="spacer" style="clear: both;"></div>
<h1>State Assessment Results</h1>
</div>
<div align= "center">
<!--begin.rcode statescore.label, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(nrow(statescore.graph) == 0){cat("<p>No grades were tested for the 2012-13 Academic Year</p>")}
end.rcode-->
<!--begin.rcode statescore.graph.1, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=330, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.1")) {cat()} else if(nrow(statescore.graph.1) > 0) {cat("<h2>Reading</h2>")
																				 plot(statescore.plot.1)
																				} else {cat()}
end.rcode-->
<!--begin.rcode statescore.graph.2, fig.width=10, fig.height=6.25, fig.align='center', out.width=700, out.height=330, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("statescore.graph.2")) {cat()} else if(nrow(statescore.graph.2) > 0) {cat("<h2>Mathematics</h2>")
																				 plot(statescore.plot.2)
																				} else {cat()}
end.rcode-->
</div>
<div class="clear"></div>
<div class="header-break", align= "center">
<h1>MAP Results</h1>
</div>
<div class="embolden", align= "center">
<div class="two-col-left", align= "center">
<!--begin.rcode growth.reading, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'

if(!exists("growth.region.Reading.Elementary") & !exists("growth.region.Reading.Middle")) {cat()} else {cat("<h3>Percent Meeting Growth in Reading</h3>")}
if(length(growth.region.Reading.Elementary)==0) {cat()} else{cat("<h4>","Elementary: ",growth.region.Reading.Elementary,"</h4>")}
if(length(growth.region.Reading.Middle)==0) {cat()} else{cat("<h4>","Middle: ",growth.region.Reading.Middle,"</h4>")}
end.rcode-->
</div>
<div class="two-col-right", align="center">
<!--begin.rcode growth.mathematics, out.width = 4, out.height= 3, warning=FALSE, message=FALSE, echo=FALSE, results='asis'

if(!exists("growth.region.Mathematics.Elementary") & !exists("growth.region.Mathematics.Middle")) {cat()} else {cat("<h3>Percent Meeting Growth in Mathematics</h3>")}
if(length(growth.region.Mathematics.Elementary)==0) {cat()} else{cat("<h4>","Elementary: ",growth.region.Mathematics.Elementary,"</h4>")}
if(length(growth.region.Mathematics.Middle)==0) {cat()} else{cat("<h4>","Middle: ",growth.region.Mathematics.Middle,"</h4>")}
end.rcode-->
</div>
</div>
<div class="clear"></div>
<div class="header", align= "center">
<!--begin.rcode quartile.graph, fig.width=13, fig.height=12, fig.align='center', out.width=800, out.height=640, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(nrow(quartile.graph) > 0) {cat("<h2>Quartile Distribution</h2>")
							  plot(quartile.plot)
							  } else {cat("<h2>Quartile Distribution</h2>")
							  		  cat("No grades were tested for the 2012-13 Academic Year")
							  		  }
end.rcode-->
</div>
<div class="header", align="center">
<h1>Footnotes</h1>
<ul>
<!--begin.rcode footnote.1, out.width = 6, out.height = 1, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("footnote.1")) {cat()} else if(length(footnote.1) > 0) cat("<li>", footnote.1, "</li>") else {cat("None.")}
end.rcode-->
<!--begin.rcode footnote.2, out.width = 6, out.height = 1, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("footnote.2")) {cat()} else if(length(footnote.2) > 0) cat("<li>", footnote.2, "</li>") else {cat()}
end.rcode-->
<!--begin.rcode footnote.3, out.width = 6, out.height = 1, warning=FALSE, message=FALSE, echo=FALSE, results='asis'
if(!exists("footnote.3")) {cat()} else if(length(footnote.3) > 0) cat("<li>", footnote.3, "</li>") else {cat()}
end.rcode-->
</ul>
</div>
</div>
</body>
</html>